/* Import webfonts in a media query to hide it from Outlook*/

@media screen {
    /* Source Sans Pro (regular, italic, bold) from http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic */
    @font-face {
        font-family: 'Source Sans Pro'; font-style: normal; font-weight: 400; src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url('http://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlNzbP97U9sKh0jjxbPbfOKg.ttf') format('truetype');
    }
    @font-face {
        font-family: 'Source Sans Pro'; font-style: normal; font-weight: 700; src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url('http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGLsbIrGiHa6JIepkyt5c0A0.ttf') format('truetype');
    }
    @font-face {
        font-family: 'Source Sans Pro'; font-style: italic; font-weight: 400; src: local('Source Sans Pro Italic'), local('SourceSansPro-It'), url('http://fonts.gstatic.com/s/sourcesanspro/v9/M2Jd71oPJhLKp0zdtTvoM0DauxaEVho0aInXGvhmB4k.ttf') format('truetype');
    }
}

/* Ink Framework Overides */

hr {
    color: #C1BAA9;
    height: 1px;
    background-color: transparent;
    border: none;
    border-top: dashed 1px #C1BAA9;
}

body, table.body, h1, h2, h3, h4, h5, h6, p, td {
    color: #333333;
    font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

body, table.body, p, td {
    font-size: 14px;
    line-height:20px;
}

p {
    margin-bottom: 20px;
}

a {
    color: #005D6E;
    text-decoration: underline;
}

a:hover {
    color: #42A5B3 !important;
}

a:active {
    color: #42A5B3 !important;
}

a:visited {
    color: #42A5B3 !important;
}

.panel {
    background: #f1f8f0;
}

table.button td,
table.tiny-button td,
table.small-button td,
table.medium-button td,
table.large-button td {
    background: #42A5B3;
    border: 3px solid #137B80;
}
/* RED button variant*/
table.button.red td,
table.tiny-button.red td,
table.small-button.red td,
table.medium-button.red td,
table.large-button.red td {
    background: #de5234;
    border: 3px solid #A63A1B;
}
table.button.red:hover td,
table.button.red:visited td,
table.button.red:active td {
  background: #E4421F !important;
}


table.button.red:hover td,
table.tiny-button.red:hover td,
table.small-button.red:hover td,
table.medium-button.red:hover td,
table.large-button.red:hover td {
  background: #E4421F !important;
}


table.button td a,
table.tiny-button td a,
table.small-button td a,
table.medium-button td a,
table.large-button td a {
    font-weight: normal;
    font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 14px;
}


/* Sunlight Header Styles */

.headershare--label {
  color: #999999;
  font-size: 12px;
}

.headershare--label a{
  color: #999999;
  text-decoration: none;
}

img.headershare--social {
  vertical-align: middle !important;
}

.header {
    background: #eeeeee;
}

.header-logo {
    background: #ffffff;
}


/* Sunlight Footer Styles */

.footer h5 {
    text-transform: uppercase;
    font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #444444;
}

.row.footer {
    background: #f5f5f5;
    border-top: solid 2px #C1BAA9;
    border-bottom: solid 2px #C1BAA9;
}

td.footer--section {
    border-bottom: dashed 1px #C1BAA9;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

td.footer--section-last {
    padding-top: 15px !important;
    padding-bottom: 30px !important;    
}

p.footer-text {
    font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 12px;
    color: #444444;
    margin-bottom: 0px !important;
}

td.footer--section-last p.footer-text{
    text-align: center;
}


/* Sunlight Callout Styles */

.callout .wrapper {
    padding-bottom: 20px;
}

.callout .panel {
    background: #ECF8FF;
    border-color: #b9e5ff;
}


/* Hidden email preview text */

span.email-preview-text {
    visibility: hidden;
    display: none;
    padding: 0 !important;
    margin:0;
    height:0px;
    font-size:1px;
    color: #ffffff;
}

@media only screen and (max-width: 600px) {
    table[class="body"] img.headershare--social {
      width: 20px !important;
      height: 14px !important;
      vertical-align: middle !important;
    }
}