@@include('../partials/header.html', {
    "stylesheet": "test.css",
    "previewText": "Replace this with Email Preview Text"
})

<!-- Email Header Area -->
<table class="row header-logo">
    <tr>
        <td height="10"></td>
    </tr>
    <tr>
        <td align="center" class="center">
            <table class="container">
                <tr>
                    <td class="wrapper">
                        <table class="twelve columns">
                            <tr>
                                <td>
                                    <a href="http://sunlightfoundation.com/">
                                        <img alt="Sunlight Foundation" width="117" height="39" src="http://assets.sunlightfoundation.com.s3.amazonaws.com/email/Email-Images/Sunlight_logo_03.png"/>
                                    </a>
                                </td>
                                <td class="expander"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="10"></td>
    </tr>
</table>

<!-- Email Content Area -->

<table class="container">
    <tr>
        <td>
            <table class="row">

                <p>Replace this with content.</p>

            </table>
        </td>
    </tr>
</table>

@@include('../partials/footer.html')