@@include('../partials/header-subscribe.html', {
    "stylesheet": "general.css",
    "previewText": "Our daily a.m. roundup of #opengov news",
    "subscribeLink": "http://eepurl.com/bkdY1P"
})

                    <!-- EMAIL SPECIFIC HEADER -->
                    <table class="row">
                    <tr>
                        <td align="center" class="center">
                            <table class="container">
                                <tr>
                                    <td class="wrapper">
                                        <table class="twelve columns">
                                            <tr>
                                                <td height="10"></td>
                                            </tr>

                                            <tr>
                                                <td><a href=
                                                "http://sunlightfoundation.com/">
                                                <img alt="Sunlight Foundation"
                                                height="39" src=
                                                "http://assets.sunlightfoundation.com.s3.amazonaws.com/email/Email-Images/Sunlight_logo_03.png"
                                                width="117" /></a></td>

                                                <td class="expander"></td>
                                            </tr>

                                            <tr>
                                                <td height="10"></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

                <!-- HEADER WITH LARGE TITLE -->
                <!-- TemplateBeginEditable name="content" -->

                <table class="row" style="background-color:#F0D960">
                    <tr>
                        <td height="10px">
                            <hr style="border-top: 1px dashed #FFFFFF" />
                        </td>
                    </tr>

                    <tr>
                        <td align="center" class="center">
                            <table class="container">
                                <tr>
                                    <td class="wrapper">
                                        <table class="twelve columns">
                                            <tr>
                                                <td mc:edit="header">
                                                    <h1 class="banner-header"><span class="character-decoration">
                                                    »</span> Support Sunlight
                                                    this week <span class="character-decoration">
                                                    «</span></h1>
                                                </td>

                                                <td class="expander"></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td height="10px">
                            <hr style="border-top: 1px dashed #FFFFFF" />
                        </td>
                    </tr>
                </table>




                <!-- START OF BODY OF EMAIL -->

                <table class="container">
                    <tr>
                        <td>
                            <table class="row">
                                <tr>
                                    <td class="wrapper last">
                                        <table class="twelve columns">
                                            <tr>
                                                <td height="10"></td>
                                            </tr>

                                            <tr>
                                                <td mc:edit="body">
                                                    <img src="https://horseradish.s3.amazonaws.com/CACHE/images/photos/47/44/465cea604c0d/Sunlight%20Staff%20BDay-800.jpg"/>
                                                    <br></br>
                                                    <p>Hi *|FNAME|*,</p>

                                                    <p>As a member of the open
                                                    government movement, I am
                                                    writing to ask you to
                                                    support Sunlight this
                                                    Sunshine Week. Sunshine
                                                    Week is an annual
                                                    celebration and nationwide
                                                    discussion of the
                                                    importance of the public’s
                                                    access to government
                                                    information – a discussion
                                                    that is at the core of
                                                    Sunlight’s mission.</p>

                                                    <p>Sunlight Foundation is a
                                                    nonprofit, nonpartisan
                                                    organization. It is through
                                                    contributions from
                                                    supporters like you that we
                                                    can continue to work toward
                                                    an open and accountable
                                                    government. By donating to
                                                    the Sunlight Foundation,
                                                    you can help ensure a more
                                                    transparent future for
                                                    government.</p>

                                                    <h6 class="call-to-action simple">Sunshine Week ends
                                                    tomorrow.<br />
                                                    Please consider standing up
                                                    for freedom of information
                                                    by week’s end.</h6>

                                                    <table class=
                                                    "seven columns">
                                                        <tr>
                                                            <td>
                                                                <br />

                                                                <table class=
                                                                "button">
                                                                    <tr>
                                                                        <td>
                                                                        <a href="http://sunlightfoundation.com/donate">
                                                                        Donate
                                                                        to the
                                                                        Sunlight
                                                                        Foundation</a></td>
                                                                    </tr>
                                                                </table>
                                                            </td>

                                                            <td class=
                                                            "expander"></td>
                                                        </tr>
                                                    </table>
                                                    <br />

                                                    <p>As always, thank you for
                                                    your support of the
                                                    Sunlight Foundation.</p>

                                                    <p>Best,</p><img alt=
                                                    "Chris Gates" src=
                                                    "http://assets.sunlightfoundation.com.s3.amazonaws.com/email/Email-Images/cgsig.png"
                                                    style=
                                                    "display:block; float: none;" />

                                                    <p style=
                                                    "font-size: 12px; color: #666;">
                                                    Chris Gates</p>

                                                    <p>P.S. If you’re in the DC
                                                    area, you should check out
                                                    our free pre-release
                                                    screening of <a href=
                                                    "#">“The Unknown Known”</a>
                                                    in honor of Sunshine Week
                                                    tonight at Landmark’s E
                                                    Street Cinema at 6:30pm.
                                                    <a href="#">RSVP
                                                    here.</a></p>
                                                </td>

                                                <td class="expander"></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table><!-- container end below -->
@@include('../partials/footer.html')