@@include('../partials/header.html', {
    "stylesheet": "monthly.css",
    "previewText": "This month at Sunlight Foundation"
})

<!-- Email Header Area -->
<table class="row header-logo">
    <tr>
        <td height="20"></td>
    </tr>
    <tr>
        <td align="center" class="center">
        <center>
            <table class="container">
                <tr>
                    <td class="wrapper last">
                        <table class="twelve columns">
                            <tr>
                                <td class="center">
                                    <center>
                                        <a href="http://sunlightfoundation.com/">
                                            <img class="sunlight-logo center" src="../img/monthly/sunlight-foundation.png" width="250" height="47" alt="Sunlight Foundation"/>
                                        </a>
                                    </center>
                                </td>
                                <td class="expander"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </center>
        </td>
    </tr>
    <tr>
        <td height="20"></td>
    </tr>
</table>

<table class="row hero u-valignm" background="../img/monthly/cover-background.jpg" bgcolor="#FFDB15">
    <tr class="u-valignm">
        <td class="u-valignm" height="20"></td>
    </tr>
    <tr class="u-valignm">
        <td class="center u-valignm" align="center">
        <center>
            <table class="container u-valignm">
                <tr class="u-valignm">
                    <td class="wrapper last u-valignm">
                        <table class="twelve columns u-valignm">
                            <tr class="u-valignm">
                                <td class="text-pad u-valignm">
                                    <table class="u-valignm">
                                        <tr class="u-valignm">
                                            <td class="u-nobottompad u-valignm">
                                                <h2 class="hero--title center">March Madness</h2>
                                            </td>
                                        </tr>
                                        <tr class="u-valignm">
                                            <td class="center u-valignm">
                                                <center>
                                                    <table class="u-valignm">
                                                        <tr class="u-valignm">
                                                            <td class="hero--divider-wrapper u-valignm">
                                                                <hr class="hero--divider">
                                                            </td>
                                                            <td class="hero--subtitle-wrapper u-valignm">
                                                                <span class="hero--subtitle center">This month in Sunlight</span>
                                                            </td>
                                                            <td class="hero--divider-wrapper u-valignm">
                                                                <hr class="hero--divider">
                                                            </td>
                                                    </table>
                                                </center>
                                            </td>
                                        </tr>
                                        <tr class="u-valignm">
                                            <td class="u-valignm">
                                                <p class="hero--text center">Welcome to the inaugural issue of <em>This Month in Sunlight</em>, a new offering that will provide you with updates on what we’re up to at the Sunlight Foundation. Expect a single digest to arrive on the first week of each month, featuring a few great stories and a surprise or two (GIFs? Photos of our analog coffee clock?). Stay tuned!</p>
                                            </td>
                                        </tr>
                                    </table>
                                </td>

                                <td class="expander u-valignm">
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </center>
        </td>
    </tr>
</table>
<div>

<table class="container">
    <tr>
        <td height="50"></td>
    </tr>
    <tr>
        <td>

            <table class="row article">
                <tr>
                    <td class="wrapper">
                        <table class="four columns">
                            <tr>
                                <td>
                                    <img class="article--img" src="http://placehold.it/340x340" width="170" height="170" alt="Alt text"/>
                                </td>
                                <td class="expander">
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="wrapper last">
                        <table class="eight columns">
                            <tr>
                                <td>
                                    <h3 class="article--header">Sunshine Week Happiness</h3>
                                    <p class="article--text">Get your Sunshine Week on! We’re celebrating public’s right to know this year by teaming up with MuckRock and EFF for a dual happy hour/award ceremony here in DC. Join us! Not in DC, but still want to take part? Check out this calendar of events over at <a href="">sunshineweek.org</a>.</p>
                                    <div class="article--button-wrapper">
                                        <!--[if mso]><v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="#" style="height:40px;v-text-anchor:middle;width:230px;" strokecolor="#FFDB15" fillcolor="#fff9e1"><w:anchorlock/><center style="color:#42a5b3;font-family:'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;font-size:16px;">Get Your Happy On &raquo;</center></v:rect><![endif]-->
                                        <a class="article--button" href="#">Get Your Happy On &raquo;</a>
                                    </div>
                                </td>
                                <td class="expander">
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

            <table class="row article">
                <tr>
                    <td class="wrapper">
                        <table class="four columns">
                            <tr>
                                <td>
                                    <img class="article--img" src="http://placehold.it/340x340" width="170" height="170" alt="Alt text"/>
                                </td>
                                <td class="expander">
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="wrapper last">
                        <table class="eight columns">
                            <tr>
                                <td>
                                    <h3 class="article--header">Sunshine Week Happiness</h3>
                                    <p class="article--text">Get your Sunshine Week on! We’re celebrating public’s right to know this year by teaming up with MuckRock and EFF for a dual happy hour/award ceremony here in DC. Join us! Not in DC, but still want to take part? Check out this calendar of events over at <a href="">sunshineweek.org</a>.</p>
                                    <div class="article--button-wrapper">
                                        <!--[if mso]><v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="#" style="height:40px;v-text-anchor:middle;width:230px;" strokecolor="#FFDB15" fillcolor="#fff9e1"><w:anchorlock/><center style="color:#42a5b3;font-family:'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;font-size:16px;">Get Your Happy On &raquo;</center></v:rect><![endif]-->
                                        <a class="article--button" href="#">Get Your Happy On &raquo;</a>
                                    </div>
                                </td>
                                <td class="expander">
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

            <table class="row article">
                <tr>
                    <td class="wrapper">
                        <table class="four columns">
                            <tr>
                                <td>
                                    <img class="article--img" src="http://placehold.it/340x340" width="170" height="170" alt="Alt text"/>
                                </td>
                                <td class="expander">
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="wrapper last">
                        <table class="eight columns">
                            <tr>
                                <td>
                                    <h3 class="article--header">Sunshine Week Happiness</h3>
                                    <p class="article--text">Get your Sunshine Week on! We’re celebrating public’s right to know this year by teaming up with MuckRock and EFF for a dual happy hour/award ceremony here in DC. Join us! Not in DC, but still want to take part? Check out this calendar of events over at <a href="">sunshineweek.org</a>.</p>
                                    <div class="article--button-wrapper">
                                        <!--[if mso]><v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="#" style="height:40px;v-text-anchor:middle;width:230px;" strokecolor="#FFDB15" fillcolor="#fff9e1"><w:anchorlock/><center style="color:#42a5b3;font-family:'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;font-size:16px;">Get Your Happy On &raquo;</center></v:rect><![endif]-->
                                        <a class="article--button" href="#">Get Your Happy On &raquo;</a>
                                    </div>
                                </td>
                                <td class="expander">
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

            <table>
                <tr>
                    <td height="25"></td>
                </tr>    
            </table>

            <table class="prompt">
                <tr>
                    <td>
                        <table class="row">
                            <tr>
                                <td height="15"></td>
                            </tr>
                            <tr>
                                <td class="wrapper last">
                                    <table class="twelve columns">
                                        <td class="center">
                                            <center>
                                                <img class="prompt--logo center" src="../img/monthly/prompt-logo-sunlight.png" width="30" height="30" alt="Sunlight Foundation logo"/>  
                                            </center>
                                        </td>
                                            <td class="expander">
                                        </td>
                                    </table>                            
                                </td>
                            </tr>
                            <tr>
                                <td height="10"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="row">
                            <tr>
                                <td class="wrapper">
                                    <table class="eight columns">
                                        <tr>
                                            <td class="pad-left">
                                                <p class="prompt--text">
                                                    Get more transparency! We now offer daily, weekly and monthly digests for your opengov fix.
                                                </p>
                                            </td>
                                            <td class="expander">
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="wrapper last">
                                    <table class="four columns">
                                        <tr>
                                            <td class="pad-right">
                                                <div class="prompt--button-wrapper">
                                                    <!--[if mso]><v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="#" style="height:35px;v-text-anchor:middle;width:145px;" strokecolor="#42a5b3" fillcolor="#ffffff"><w:anchorlock/><center style="color:#42a5b3;font-family:'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;font-size:16px;">Sign Up</center></v:rect><![endif]-->
                                                    <a class="prompt--button" href="#">Sign Up</a>
                                                </div>
                                            </td>
                                            <td class="expander">
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

            <table>
                <tr>
                    <td height="25"></td>
                </tr>    
            </table>

            <table class="row article">
                <tr>
                    <td class="wrapper last">
                        <table class="twelve columns">
                            <tr>
                                <td height="10"></td>
                            </tr>
                            <tr>
                                <td>
                                    <h3 class="article--header center">Our GIF to You</h3>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img class="article--img-full" src="../img/monthly/gif-mrmanager.gif" width="580" alt="A GIF from us"/>
                                    <br>
                                    <p class="article--caption">Nicko, resident Sunlight bear, types away at his desk.</p>
                                </td>
                                <td class="expander">
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

            <table class="socialmedia">
                <tr>
                    <td height="25"></td>
                </tr>
                <tr>
                    <td>
                        <table class="container">
                            <tr>
                                <td class="center">
                                    <center>
                                        <table>
                                            <td class="socialmedia--divider-wrapper">
                                                <hr class="socialmedia--divider">
                                            </td>
                                            <td class="socialmedia--header-wrapper">
                                                <h3 class="socialmedia--header center">Tell us what you think!</h3>
                                            </td>
                                            <td class="socialmedia--divider-wrapper">
                                                <hr class="socialmedia--divider">
                                            </td>
                                        </table>                            
                                    </center>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="row">
                            <tr>
                                <td class="wrapper">
                                    <table class="six columns">
                                        <tr>
                                            <td>
                                                <div class="socialmedia--button-wrapper-left">
                                                    <!--[if mso]><v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="https://twitter.com/sunfoundation" style="height:40px;v-text-anchor:middle;width:270px;" strokecolor="#55acee" fillcolor="#55acee"><w:anchorlock/><center style="color:#ffffff;font-family:'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;font-size:16px;">Tweet at Us</center></v:rect><![endif]-->
                                                    <a class="socialmedia--twitter-button" href="https://twitter.com/sunfoundation">
                                                        Tweet at Us
                                                    </a>
                                                </div>
                                            </td>
                                            <td class="expander">
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="wrapper last">
                                    <table class="six columns">
                                        <tr>
                                            <td>
                                                <div class="socialmedia--button-wrapper-right">
                                                    <!--[if mso]><v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="https://www.facebook.com/sunlightfoundation" style="height:40px;v-text-anchor:middle;width:270px;" strokecolor="#3b5998" fillcolor="#3b5998"><w:anchorlock/><center style="color:#ffffff;font-family:'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;font-size:16px;">Find Us on Facebook</center></v:rect><![endif]-->
                                                    <a class="socialmedia--facebook-button" href="https://www.facebook.com/sunlightfoundation">
                                                        Find us on Facebook
                                                    </a>
                                                </div>
                                            </td>
                                            <td class="expander">
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="50"></td>
    </tr>
</table>


@@include('../partials/footer.html')