<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width"/>
    <link href="../css/phantom-mask.css" rel="stylesheet">
</head>

<!-- Scaffolding -->
<body>
    <!-- Email Preview Text -->
    <span class="email-preview-text">previewText</span>

    <table class="body">
        <tr>
            <td class="center" align="center" valign="top">
                <center>

                    <table class="row">
                        <tr>
                            <td height="30"></td>
                        </tr>
                        <tr>
                            <td align="center" class="center">
                                <center>
                                    <table class="container main">
                                        <tr>
                                            <td class="wrapper last">
                                                <table class="eight columns">
                                                    <tr>
                                                        <td height="10"></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="center">
                                                            <center>
                                                                <a href="https://opencongress.org">
                                                                    <img class="logo center" src="../img/phantom-mask/opencongress-logo.png" width="250" height="47" alt="Sunlight Foundation"/>
                                                                </a>
                                                            </center>
                                                        </td>
                                                        <td class="expander"></td>
                                                    </tr>
                                                    <tr>
                                                        <td height="10"></td>
                                                    </tr> <!-- end header -->
                                                    <tr>

                                                    <td class="center">
                                                            <center>
                                    
                                                                    <img class="capitol" src="../img/phantom-mask/yellow-capitol.png" width="72" height="90" alt="Sunlight Foundation"/>
                                                               
                                                            </center>
                                                        </td>
                                                        </tr>


                                                        <td class="panel-border"><!--into email copy, yellow background-->
                                                            <!-- <h1>There's just one more step to complete before we can deliver your message to your legislator.</h1> -->
                                                            <h1>Before we deliver your message to your legislator, there's just one more step to complete.</h1>



                                                            <center>
                                                                <img class="progress center" src="../img/phantom-mask/progress-bar.png" width="370" height="52" alt="Progress Bar"/>
                                                                
                                                            </center>




                                                            <center>
                                                                <div class="article--button-wrapper">
                                                                    <!--[if mso]><v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="#" style="height:40px;v-text-anchor:middle;width:320px;" strokecolor="#18a489" fillcolor="#18a489"><w:anchorlock/><center style="color:#ffffff;font-family:'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;font-size:16px;">Finish up</center></v:rect><![endif]-->
                                                                    <a class="article--button" href="#">Finish Up</a>
                                                                </div>
                                                            </center>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td height="30"></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="panel"> <!--intro copy for all emails, yellow background w/ no border-->
                                                            <!-- <h1>There's just one more step to complete before we can deliver your message to your legislator.</h1> -->
                                                            <h1>It's been a while since you updated your information. Welcome back!</h1>




                                                            <center>
                                                                <div class="article--button-wrapper">
                                                                    <!--[if mso]><v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="#" style="height:40px;v-text-anchor:middle;width:320px;" strokecolor="#18a489" fillcolor="#18a489"><w:anchorlock/><center style="color:#ffffff;font-family:'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;font-size:16px;">Finish up</center></v:rect><![endif]-->
                                                                    <a class="article--button" href="#">Please confirm your information here</a>
                                                                </div>
                                                            </center>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td height="30"></td>
                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            <p>Dear Olivia,</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="error-panel"> <!--intro error copy, red background-->
                                                            <!-- <h1>There's just one more step to complete before we can deliver your message to your legislator.</h1> -->
                                                            <h1>Looks like you’re really emailing a lot! To keep our system running smoothly, we’ll have to <a href="#">temporarily hold off</a> on sending your messages.</h1>
                                                            <p class="descriptive"><strong>Want to know why?</strong> <i>Due to the way congressional websites are designed, we can only connect you to the members representing the address you provided us. Feel free to ask the members who represents you to forward your message to other members you’d like to contact. You can also mail a letter or call a member’s office by looking up that information.</i></p>


                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td height="30"></td>
                                                    </tr>


                                                    <tr>
                                                        <td class="bodycontent">
                                                            <h1 style="margin: 0px 0px 0px 25px;">You might be wondering...</h1>
                                                            <table class="row">
                                                                <tr>
                                                                  <td class="wrapper">

                                                                    <table class="three columns" style="margin-top:30px;">
                                                                      <tr>
                                                                        <td>

                                                                           <p>icon placeholder</p>

                                                                       </td>
                                                                       <td class="expander"></td>
                                                                   </tr>
                                                               </table>

                                                           </td>
                                                           <td class="wrapper last">

                                                            <table class="six columns" style="margin-top:30px;">
                                                              <tr>
                                                                <td>

                                                                    <h2>I already sent my message, why are you contacting me?</h2>

                                                                    <p>We are a service called OpenCongress that allows anyone to simply send email to Congress instead of filling out congressional forms each time.</p>

                                                                </td>
                                                                <td class="expander"></td>
                                                            </tr>
                                                        </table>

                                                    </td>
                                                </tr>
                                            </table>

                                            <table class="row">
                                                <tr>
                                                  <td class="wrapper">

                                                    <table class="three columns">
                                                      <tr>
                                                        <td>

                                                           <p>icon placeholder</p>

                                                       </td>
                                                       <td class="expander"></td>
                                                   </tr>
                                               </table>

                                           </td>
                                           <td class="wrapper last">

                                            <table class="six columns">
                                              <tr>
                                                <td>

                                                    <h2>Why should I use this service to send my email?</h2>

                                                    <p>It's easier and faster than the system Congress currently uses. Just fill out the required form once and then you can communicate with Congress by email.</p>

                                                </td>
                                                <td class="expander"></td>
                                            </tr>
                                        </table>

                                    </td>
                                </tr>
                            </table>

                            <table class="row">
                                <tr>
                                  <td class="wrapper">

                                    <table class="three columns">
                                      <tr>
                                        <td>

                                           <p>icon placeholder</p>

                                       </td>
                                       <td class="expander"></td>
                                   </tr>
                               </table>

                           </td>
                           <td class="wrapper last">

                            <table class="six columns">
                              <tr>
                                <td>

                                    <h2>What's the next step to sending my message?</h2>

                                    <p>Congress requires some basic information (such as your address) to recieve a message, so we need to gather that to get your message through their system. Please take the next step now:</p>

                                </td>
                                <td class="expander"></td>
                            </tr>
                        </table>

                    </td>
                </tr>
            </table>

            <table>
                <tr>
                  <td class="wrapper">


                      <tr>
                        <td>
                        <p>We were unsuccessful becuase there appears to be an issue with the congressional contact system for [Attempted Rep]. Sorry about that!</p>

                           <p>Our technical team has been notified about the issue and for now you can send your message through the congressional website webforms here:</p>

                           <p>Thanks for using OpenCongress to contact Congress!<p>
                            <p><i>Sunlight Foundation</i></p>

                        </td>
                        <td class="expander"></td>
                    </tr>

                </td>
            </tr>
        </table>





        <center>

          <div class="article--button-wrapper">
            <!--[if mso]><v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="#" style="height:40px;v-text-anchor:middle;width:320px;" strokecolor="#18a489" fillcolor="#18a489"><w:anchorlock/><center style="color:#ffffff;font-family:'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;font-size:16px;">Finish up</center></v:rect><![endif]-->
            <a class="article--button" href="#">Finish Up</a>
        </div>
    </center>
    <hr class="line"></hr>
    <table class="not-congress">
        <tr>
          <td class="wrapper">


              <tr>
                <td>
                    <center>
                      <h2 class="center">We are not Congress</h2><p class="center-content">Members of Congress don’t have official emails. This service makes navigating their required webforms as easy as emailing t hem. If you’d prefer to fill the webform of each member of Congress each time or would like another method of communication,<a href="#"> look up your member of Congress here</a>.</p>
                  </center>

              </td>
              <td class="expander"></td>
          </tr>

      </td>
  </tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
<table class="container footer">
    <tr>
        <td class="wrapper">
            <table class="ten columns">
                <tr>
                    <td height="10"></td>
                </tr>
                <tr>
                    <td class="center">
                        <center>
                            <p class="center-content">
                                Have you moved? We need to ensure we have your most current information.
                                <br>
                                <a href="#">Update your information here.</a>
                            </p>

                            <p class="center-content">This service is offered by the <a href="https://sunlightfoundation.com">Sunlight Foundation</a> and is not affiliated with Congress.</p>
                            <p class="center-content">
                            <ul>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Terms of Service</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                            </p>
                        </center>
                    </td>
                    <td class="expander"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>

</center>
</td>
</tr>
</table>



</center>
</td>
</tr>
</table>
</body>
</html>