<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width"/>
    <link href="../css/phantom-mask.css" rel="stylesheet">
</head>

<!-- Scaffolding -->
<body>
    <!-- Email Preview Text -->
    <span class="email-preview-text">previewText</span>

    <table class="body">
        <tr>
            <td class="center" align="center" valign="top">
                <center>

                    <table class="row">
                        <tr>
                            <td height="30"></td>
                        </tr>
                        <tr>
                            <td align="center" class="center">
                                <center>
                                    <table class="container main">
                                        <tr>
                                            <td class="wrapper last">
                                                <table class="eight columns">
                                                    <tr>
                                                        <td height="10"></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="center">
                                                            <center>
                                                                <a href="https://opencongress.org">
                                                                    <img class="logo center" src="../img/phantom-mask/opencongress-logo.png" width="250" height="47" alt="Sunlight Foundation"/>
                                                                </a>
                                                            </center>
                                                        </td>
                                                        <td class="expander"></td>
                                                    </tr>
                                                    <tr>
                                                        <td height="10"></td>
                                                    </tr> <!-- end header -->
                                                    <tr>
                                                        <td class="panel">
                                                            <!-- <h1>There's just one more step to complete before we can deliver your message to your legislator.</h1> -->
                                                            <h1>Before we deliver your message to your legislator, there's just one more step to complete.</h1>

                                                             
                                                       
                                                            <center>
                                                                    <img class="progress center" src="../img/phantom-mask/progress-bar.png" width="296" height="41" alt="Progress Bar"/>
                                                                
                                                            </center>
                                                        
                                                        
                                                   

                                                            <center>
                                                            <div class="article--button-wrapper">
                                                                <!--[if mso]><v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="#" style="height:40px;v-text-anchor:middle;width:320px;" strokecolor="#18a489" fillcolor="#18a489"><w:anchorlock/><center style="color:#ffffff;font-family:'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;font-size:16px;">Finish up</center></v:rect><![endif]-->
                                                                <a class="article--button" href="#">Finish Up</a>
                                                            </div>
                                                            </center>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td height="30"></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="">
                                                            <h2>You might be wondering...</h2>
                                                            <table class="row">
                                                                <tr>
                                                                  <td class="wrapper">

                                                                    <table class="two columns">
                                                                      <tr>
                                                                        <td>

                                                                           <p>icon placeholder</p>

                                                                      </td>
                                                                      <td class="expander"></td>
                                                                  </tr>
                                                              </table>

                                                          </td>
                                                          <td class="wrapper last">

                                                            <table class="six columns">
                                                              <tr>
                                                                <td>

                                                                <h2>I already sent my message, why are you contacting me?</h2>

                                                                <p>We are a service called OpenCongress that allows anyone to simply send email to Congress instead of filling out congressional forms each time.</p>

                                                              </td>
                                                              <td class="expander"></td>
                                                          </tr>
                                                      </table>

                                                  </td>
                                              </tr>
                                          </table>

                                           <table class="row">
                                                                <tr>
                                                                  <td class="wrapper">

                                                                    <table class="two columns">
                                                                      <tr>
                                                                        <td>

                                                                           <p>icon placeholder</p>

                                                                      </td>
                                                                      <td class="expander"></td>
                                                                  </tr>
                                                              </table>

                                                          </td>
                                                          <td class="wrapper last">

                                                            <table class="six columns">
                                                              <tr>
                                                                <td>

                                                                <h2>Why should I use this service to send my email?</h2>

                                                                <p>It's easier and faster than the system Congress currently uses. Just fill out the required form once and then you can communicate with Congress by email.</p>

                                                              </td>
                                                              <td class="expander"></td>
                                                          </tr>
                                                      </table>

                                                  </td>
                                              </tr>
                                          </table>

                                           <table class="row">
                                                                <tr>
                                                                  <td class="wrapper">

                                                                    <table class="two columns">
                                                                      <tr>
                                                                        <td>

                                                                           <p>icon placeholder</p>

                                                                      </td>
                                                                      <td class="expander"></td>
                                                                  </tr>
                                                              </table>

                                                          </td>
                                                          <td class="wrapper last">

                                                            <table class="six columns">
                                                              <tr>
                                                                <td>

                                                                <h2>What's the next step to sending my message?</h2>

                                                                <p>Congress requires some basic information (such as your address) to recieve a message, so we need to gather that to get your message through their system. Please take the next step now:</p>

                                                              </td>
                                                              <td class="expander"></td>
                                                          </tr>
                                                      </table>

                                                  </td>
                                              </tr>
                                          </table>


                                          <center>

                                          <div class="article--button-wrapper">
                                            <!--[if mso]><v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="#" style="height:40px;v-text-anchor:middle;width:320px;" strokecolor="#18a489" fillcolor="#18a489"><w:anchorlock/><center style="color:#ffffff;font-family:'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;font-size:16px;">Finish up</center></v:rect><![endif]-->
                                            <a class="article--button" href="#">Finish Up</a>
                                        </div>
                                        </center>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="30"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <table class="container footer">
                    <tr>
                        <td class="wrapper">
                            <table class="ten columns">
                                <tr>
                                    <td height="10"></td>
                                </tr>
                                <tr>
                                    <td class="center">
                                        <center>
                                            <p>
                                                Have you moved? We need to ensure we have your most current information.
                                                <br>
                                                <a href="#">Update your information here.</a>
                                            </p>

                                            <p>This service is offered by the <a href="https://sunlightfoundation.com">Sunlight Foundation</a> and is not affiliated with Congress.</p>

                                            <p>
                                                <a href="#">FAQ</a>
                                                <a href="#">Terms of Service</a>
                                                <a href="#">Privacy Policy</a>
                                            </p>
                                        </center>
                                    </td>
                                    <td class="expander"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

            </center>
        </td>
    </tr>
</table>



</center>
</td>
</tr>
</table>
</body>
</html>