@@include('../partials/header-subscribe.html', {
    "stylesheet": "todayinopengov.css",
    "previewText": "Our daily a.m. roundup of #opengov news",
    "subscribeLink": "http://eepurl.com/bkdY1P"
})

<!-- Sunlight Logo -->
<table class="row">
    <tr>
        <td align="center" class="center">
            <table class="container">
                <tr>
                    <td class="wrapper">
                        <table class="twelve columns">
                            <tr>
                                <td height="10"></td>
                            </tr>
                            <tr>
                                <td align="center" class="center">
                                    <a href="http://sunlightfoundation.com/">
                                        <img class="center" alt="Sunlight Foundation" height="39" src="http://assets.sunlightfoundation.com.s3.amazonaws.com/email/Email-Images/Sunlight_logo_03.png" width="117"/>
                                    </a>
                                </td>
                                <td class="expander"></td>
                            </tr>
                            <tr>
                                <td height="5"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<!-- Banner Header -->
<table class="row" style="background-color:#62425D">
    <tr>
        <td height="4px" style="background-color:#FFFFFF">
            <hr style="border-top: 2px solid #E5E2E0" />
        </td>
    </tr>
    <tr>
        <td align="center" class="center" >
            <table class="container" >
                <tr>
                    <td class="wrapper">
                        <table class="twelve columns">
                            <tr>
                                <td>
                                    <h1 class="banner-header">Today in OpenGov</h1>
                                </td>
                                <td class="expander"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="4px" style="background-color:#FFFFFF">
            <hr style="border-top: 2px solid #E5E2E0" />
        </td>
    </tr>
</table>

<!-- Content -->
<table class="container">
    <tr>
        <td>
            <table class="row">
                <tr>
                    <td class="wrapper last">
                        <table class="twelve columns">
                            <tr>
                                <td height="10"></td>
                            </tr>

                            <tr>
                                <td mc:edit>
                                    <h2 class="intro-text">Today's look at #OpenGov news, events, & analysis, including</h2>
                                    <ul>
                                        <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing</a></li>
                                        <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing</a></li>
                                        <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing</a></li>
                                    </ul>
                                    <h3 class="section-header">National</h3>
                                    <ul>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu lorem eu felis efficitur pretium. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu lorem eu felis efficitur pretium. Lorem ipsum dolor sit amet consectetur. (<a href="#">Source</a>)</li>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu lorem eu felis efficitur pretium. (<a href="#">Source</a>)</li>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu lorem eu felis efficitur pretium. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu lorem eu felis efficitur pretium. Lorem ipsum dolor sit amet consectetur. (<a href="#">Source</a>)</li>
                                    </ul>

                                    <h3 class="section-header">State &amp; Local</h3>
                                     <ul>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu lorem eu felis efficitur pretium. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu lorem eu felis efficitur pretium. Lorem ipsum dolor sit amet consectetur. (<a href="#">Source</a>)</li>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu lorem eu felis efficitur pretium. (<a href="#">Source</a>)</li>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu lorem eu felis efficitur pretium. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu lorem eu felis efficitur pretium. Lorem ipsum dolor sit amet consectetur. (<a href="#">Source</a>)</li>
                                    </ul>
                                    <h3 class="section-header">International</h3>
                                     <ul>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu lorem eu felis efficitur pretium. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu lorem eu felis efficitur pretium. Lorem ipsum dolor sit amet consectetur. (<a href="#">Source</a>)</li>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu lorem eu felis efficitur pretium. (<a href="#">Source</a>)</li>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu lorem eu felis efficitur pretium. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu lorem eu felis efficitur pretium. Lorem ipsum dolor sit amet consectetur. (<a href="#">Source</a>)</li>
                                    </ul>
                                    <h3 class="section-header">Upcoming Events</h3>
                                     <ul>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu lorem eu felis efficitur pretium. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu lorem eu felis efficitur pretium. Lorem ipsum dolor sit amet consectetur. (<a href="#">Source</a>)</li>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu lorem eu felis efficitur pretium. (<a href="#">Source</a>)</li>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu lorem eu felis efficitur pretium. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu lorem eu felis efficitur pretium. Lorem ipsum dolor sit amet consectetur. (<a href="#">Source</a>)</li>
                                    </ul>

                                    <br>

                                    <table class="twelve columns" style="background-color:#F1ECF0;">
                                        <tr>
                                            <td style="padding: 20px;">
                                                <p style="margin-bottom: 0px;">You can follow the progress of relevant bills, court cases, and regulations using <a href="https://scout.sunlightfoundation.com/">Scout</a>. You can also get Today in #OpenGov sent directly to your preferred news reader. If you would like suggest an event, email <a href="mailto:todayinopengov@sunlightfoundation.com">todayinopengov@sunlightfoundation.com</a> by 7 am on the Monday prior to the event.</p>
                                            </td>
                                            <td class="expander"></td>
                                        </tr>
                                    </table>
                                    
                                </td>

                                <td class="expander"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="50"></td>
    </tr>
</table>


@@include('../partials/footer.html')
