            <!-- Footer starts -->
            <table class="row footer">
                <tr>
                    <td align="center" class="center">
                        <table class="container">
                            <tr>
                                <td class="wrapper">
                                    <table class="twelve columns">
                                        <tr>
                                            <td>
                                                <h5>Mission Statement</h5>

                                                <p class="mission">The Sunlight Foundation is a nonpartisan nonprofit that advocates for open government globally and uses technology to make government more accountable to all.</p>
                                                <hr>

                                                <h5>We value your input and suggestions!</h5>

                                                <p class="footer-text">
                                                    Let us hear from you at <a href="http://sunlightfoundation.com/contact/"> sunlightfoundation.com/contact</a> or call us at 202-742-1520.
                                                    <br>
                                                    1818 N Street NW | Suite 300 | Washington, DC 20036
                                                </p>

                                                <p class="footer-text">
                                                    The Sunlight Foundation does not rent or sell email lists. Read about our <a href="http://sunlightfoundation.com/legal/privacy">Privacy Policy.</a>
                                                    </p>
                                                <hr>
                                                <br>

                                                <p class="footer-text" style="text-align:center;"><a href="http://sunlightfoundation.com/engage/preferences/[[subscription_key]]?e=[[Email]]&eb=[[email_blast_KEY]]">Unsubscribe or manage your email preferences</a></p>
                                            </td>

                                            <td class="expander"></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table> <!-- End of Footer -->
            </center>
            </td>
        </tr>
    </table>
<!-- TemplateEndEditable -->
</body>
</html>