<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width"/>
    <link href="../css/@@stylesheet" rel="stylesheet">
</head>

<body>
<!-- Email Preview Text -->
    <span class="email-preview-text">@@previewText</span>

    <table class="body">
        <tr>
            <td class="center" align="center" valign="top">
                <center>
                    <table class="row header">
                        <tr>
                            <td align="center" class="center">
                                <center>
                                    <table class="container">
                                        <tr>
                                            <td class="wrapper last">
                                                <table class="twelve columns">
                                                    <tr>
                                                        <td class="eight sub-columns">
                                                            <span class="headershare--label">
                                                                <a href="*|ARCHIVE|*">View in browser</a>
                                                                &nbsp;&nbsp;|&nbsp;&nbsp;
                                                                <a href="http://sunlightfoundation.com/join/">Join us</a>
                                                            </span>
                                                        </td>

                                                        <td class="four sub-columns last" style="text-align:right; vertical-align:middle; float: none;">
                                                            <span class="headershare--label">
                                                                <a href="https://twitter.com/SunFoundation"><img class="headershare--social" alt="Find us on Twitter" width="20" height="14" src= "../img/partials/twitter-icon.png" style="display:inline; float: none;"/></a>
                                                                <a href="https://www.facebook.com/sunlightfoundation"><img class="headershare--social" alt="Find us on Facebook" width="20" height="14" src= "../img/partials/facebook-icon.png" style="display:inline; float: none;"/></a>
                                                            </span>
                                                        </td>
                                                        <td class="expander"></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </center>
                            </td>
                        </tr>
                    </table>